*
	margin: 0
	padding: 0
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: -moz-none
	-ms-user-select: none
	user-select: none
	letter-spacing: 0px
	word-spacing: 0px

html, body
	height: 100%
	overflow: hidden

body
	background-color: #222
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=')
	background-repeat: repeat

.meny
	display: none
	overflow: auto
	background: #999
	color: #eee

.contents
	background: #eee
	width: 100%
	height: 100%
	overflow: hidden

	-webkit-overflow-scrolling: touch
	-webkit-box-sizing: border-box


.meny-arrow
	position: absolute
	z-index: 10

	border: 10px solid transparent

	-webkit-transition: opacity 0.4s ease 0.4s

.meny-left .meny-arrow
	left: 14px
	top: 50%
	margin-top: -16px
	border-left: 16px solid #333

.meny-right .meny-arrow
	right: 14px
	top: 50%
	margin-top: -16px
	border-right: 16px solid #333

.meny-top .meny-arrow
	left: 50%
	top: 14px
	margin-left: -16px
	border-top: 16px solid #333

.meny-bottom .meny-arrow
	left: 50%
	bottom: 14px
	margin-left: -16px
	border-bottom: 16px solid #333

.meny-active .meny-arrow
	opacity: 0
	-webkit-transition: opacity 0.2s ease